<div class="top">

</div>

<div class="copyright">
  Copyright © <!--#config timefmt="%Y" --> <!--#echo var="DATE_LOCAL" -->  &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ site.baseurl }}/disclaimer.html">Disclaimer</a> |  <a href="{{ site.baseurl }}/privacy-policy.html">Privacy Policy</a> | <a href="{{ site.baseurl }}/accessibility-statement.html">Accessibility Statement</a>
  <span>Lawyer Marketing Services by <a href="https://www.fuelwebmarketing.com/" style="text-decoration:none;" target="_blank"><img src="{{ site.baseurl }}/assets/images/fuel-tag-white.png" alt="Fuel Web Marketing"></a></span>
</div>

{% include global-scripts.html %}
