<div class="top">

</div>

<div class="copyright">
	Copyright © <!--#config timefmt="%Y" --> <!--#echo var="DATE_LOCAL" -->  &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% link _pages/disclaimer.md %}">Disclaimer</a> |  <a href="{% link _pages/privacy-policy.md %}">Privacy Policy</a> | <a href="{% link _pages/accessibility-statement.md %}">Accessibility Statement</a>
  <span>Lawyer Marketing Services by <a href="https://www.fuelwebmarketing.com/" style="text-decoration:none;" target="_blank"><img src="{{ site.baseurl }}/assets/images/fuel-tag-white.png" alt="Fuel Web Marketing"></a></span>
</div>

{% include global-scripts.html %}
