<nav class="desktop-nav">
	<a href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}/assets/images/logo.png" alt="Law Firm" /></a>
	<div class="links">
		{% for link in site.data.desktop-menu.desktopmenu %}
			{% if link.submenu[0] && link.url == null %}
				<div class="dropdown-container" onclick>
					<div>{{ link.pagename }}</div>
					<div class="dropdown">
						{% for submenulink in link.submenu %}
							<a href="{{ site.baseurl }}{{ submenulink.url }}">{{ submenulink.pagename }}</a>
						{% endfor %}
					</div>
				</div>
			{% elsif link.submenu[0] %}
				<div class="dropdown-container" onclick>
					<a href="{{ site.baseurl }}{{ link.url }}">{{ link.pagename }}</a>
					<div class="dropdown">
						{% for submenulink in link.submenu %}
							<a href="{{ site.baseurl }}{{ submenulink.url }}">{{ submenulink.pagename }}</a>
						{% endfor %}
					</div>
				</div>
			{% else %}
				<a href="{{ site.baseurl }}{{ link.url }}">{{ link.pagename }}</a>
			{% endif %}
		{% endfor %}
	</div>
</nav>
