---
---
/****************

GENERAL

HOVER EFFECTS

SCROLL ANIMATIONS

TOP NAVIGATION

MOBILE NAVIGATION

INTERNAL PAGES

SIDE NAVIGATION

FOOTER

/****************
GENERAL STYLES
****************/

@font-face{
	font-family:'ENTER FONT FAMILY';
	font-display:swap;
	src:url('{{ site.baseurl }}assets/fonts/');
}
body{margin:0;overflow-x:hidden}
h1{font-size:3vw}
h2{font-size:2.5vw}
h3{font-size:1.7vw}
p,li{font-size:1.5vw}
.main-content-container{display:inline-block;width:60vw;vertical-align:top}
.main-content-container a{color:RED}

/*******************
HOVER EFFECTS
*******************/



/********************
SCROLL ANIMATIONS
*********************/

@keyframes fadeIn {
    0% {opacity:0;filter:blur(10px);}
    100% {opacity:1;filter:blur(0px);}
}
.fadeIn {opacity:0;filter:blur(10px);}
.fadeIn.active {animation:fadeIn .5s ease forwards;-webkit-animation:fadeIn .5s ease forwards;}

@keyframes fadeUp {
    0% {opacity:0;transform: translateY(2vw);filter:blur(10px);}
    100% {transform: translateY(0);opacity:1;filter:blur(0px);}
}
.fadeUp {position:relative;opacity:0;transform: translateY(2vw);filter:blur(10px);}
.fadeUp.active {animation:fadeUp .5s ease forwards;-webkit-animation:fadeUp .5s ease forwards;}


/******************
TOP NAVIGATION
******************/

.desktop-nav {height:6.323vw;padding-top:2vw;background: #183037;
	.logo {display: inline-block;width: 20vw;height: 4vw;vertical-align: middle;background: #A4A4A4;margin-left: 5vw;}
	.links {float:right;margin-top:1.2vw;margin-right:5vw;
		a {display:inline-block;color: #7E9CAD;font-size: 1.5vw;padding: 0 .4vw;text-decoration:none;}
	}
	.dropdown-container {display:inline-block;position:relative;
		.dropdown {position:absolute;overflow:hidden;background:#c4c4c4;
			a {display:block;}
			> a:first-child{margin-top:-50vw;transition:margin-top .5s ease}
		}
	}
	.dropdown-container:hover .dropdown > a:first-child{margin-top:0}
}

/****************
MOBILE NAV
****************/
nav.mobile-header{display:none;margin-bottom:0px;position:fixed;width:100%;top:0vw;z-index:9;background:white;height:13vw;box-shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23)}
.mobile-nav .logo-left a{border-bottom:0px;margin-top:0;margin-bottom:0;padding-bottom:0}
div#logo img{width:35vw;height:auto;position:relative;bottom:1vw}
.pull-right{display:inline-block;float:right;width:auto;height:7vw}
.phone{color:blue;display:inline-block;height:10vw;width:7vw;width:12vw;vertical-align:top}
.mobile-nav .phone a{margin-top:.8vw;padding-top:0;border-bottom:0px}
.phone i{font-size:52px;color:black;font-size:52px;color:black;padding:12px 0 0 53px}
.mobile-nav-btn{display:inline-block;width:10vw;height:10vw}
div.mobile-nav-btn div.nav-dot{height:1.5vw;width:1.5vw;border-radius:4px;background-color:blue;margin:.6vw auto;opacity:1;transition:opacity .3s ease}
div.mobile-nav-btn div.nav-dot:first-child{margin:2vw auto 0}
div.mobile-nav-btn .mobile-dotnav-close{color:blue;top:.5vw;position:absolute;width:6vw;right:3vw;opacity:0}
.logo-left{display:inline-block}
div.mobile-nav-btn:hover div.mobile-nav{display:block}
div.mobile-nav{display:block;vertical-align:top;position:absolute;background:white;padding:0px;right:0;box-shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);z-index:98;overflow:scroll;height:auto;overflow:scroll;transition:top .3s ease;width:44%;top:-115vw;max-height:90vh}
div.mobile-nav ul{list-style:none;padding:0 30px}
div.mobile-nav ul li{margin:20px auto;font-size:17px}
div.mobile-nav ul li a{border-bottom:1px solid #e6e6e6;width:100%;display:inline-block;padding-bottom:9px}
.mobile-nav a{font-size:3vw;text-decoration:none;display:block;margin:2.5vw 3.5vw;padding:2vw 0 4vw;border-bottom:1px solid #e1e1e1}
nav.mobile-nav{display:none;height:13vw;width:100%;background-color:white;position:relative;z-index:9;/*box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);*/}
.mobile-nav-practice-areas-menu{display:none}
div.mobile-nav-screen{display:block;width:100vw;height:100vh;position:absolute;top:0;left:0}
nav > div.sidebar-nav{position:relative;width:95%;background-color:blue;color:white;height:auto;max-height:78vh;top:-90vh;z-index:5;box-shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);border-bottom:0;transition:top .3s ease;padding-left:5%;overflow-y:scroll;padding-top:6vw;padding-bottom:5vw}
header .sidebar-nav ul{padding-left:3vw;margin-top:0;margin-bottom:0}
header .sidebar-nav li{list-style:none;margin:3vw 0;padding-bottom:.8vw}
.sidebar-nav a{color:white;text-decoration:none;font-size:4vw;line-height:6vw;display:block}
nav > div.button{position:fixed;top:13vw;z-index:8;width:100%;padding:2vw;text-align:center;background-color:blue;color:white;font-size:3.7vw;height:auto;border-bottom:0;box-shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23)}
.fa-chevron-up{width:3vw;margin-right:1vw;transform:rotateX(180deg);transition:transform .5s ease}

@media (max-width:850px){
	nav.desktop-nav{display:none}
	nav.mobile-header{display:block}
	header.header-post{display:block}
	body{padding-top:21.4vw}
}


/*****************
INTERNAL PAGES
*****************/

.titlebar {height:16.406vw;background:#c4c4c4;}
.titlebar .title {font-size: 3.542vw;text-align: center;font-weight: 700;line-height: 16.406vw;}

.main-content-container {margin-left: 5vw;}
.main-content-container.full {width: auto;display: block;margin-top: 4vw;}



/*******************
SIDE NAVIGATION
*******************/

.sidebar{display:inline-block;width:21%;vertical-align:top;margin:3vw 3vw 0 3vw;border:.1vw solid;padding:2% 2%}
.sidebar .dropdown {display:none;}
.sidebar a{display:block}

/**********
FOOTER
***********/

footer{margin-top:2vw;
	.top {height:22.522vw;background:#c4c4c4;}
	.copyright{padding:1.5vw 3vw;font-size:.8vw;background:#183037;color:white;position:relative;
		span{float:right;margin-right:3vw;position:relative;bottom:1vw}
		a{color:white}
		a:hover{color:#961b27}
	}
}
