---
---
/****************

GENERAL

HOVER EFFECTS

SCROLL ANIMATIONS

TOP NAVIGATION

MOBILE NAVIGATION

INTERNAL PAGES

SIDE NAVIGATION

FOOTER

/****************
GENERAL STYLES
****************/

@font-face{
	font-family:'ENTER FONT FAMILY';
	font-display:swap;
	src:url('{{ site.baseurl }}/assets/fonts/');
}
body{margin:0;overflow-x:hidden}
h1{font-size:3vw}
h2{font-size:2.5vw}
h3{font-size:1.7vw}
p,li{font-size:1.5vw}
.main-content-container{display:inline-block;width:60vw;vertical-align:top}
.main-content-container a{color:RED}

/*******************
HOVER EFFECTS
*******************/



/********************
SCROLL ANIMATIONS
*********************/

@keyframes fadeIn {
    0% {opacity:0;filter:blur(10px);}
    100% {opacity:1;filter:blur(0px);}
}
.fadeIn {opacity:0;filter:blur(10px);}
.fadeIn.active {animation:fadeIn .5s ease forwards;-webkit-animation:fadeIn .5s ease forwards;}

@keyframes fadeUp {
    0% {opacity:0;transform: translateY(2vw);filter:blur(10px);}
    100% {transform: translateY(0);opacity:1;filter:blur(0px);}
}
.fadeUp {position:relative;opacity:0;transform: translateY(2vw);filter:blur(10px);}
.fadeUp.active {animation:fadeUp .5s ease forwards;-webkit-animation:fadeUp .5s ease forwards;}


/******************
TOP NAVIGATION
******************/

.desktop-nav {height:6.323vw;padding-top:2vw;background: #183037;
	.logo {display: inline-block;width: 20vw;height: 4vw;vertical-align: middle;background: #A4A4A4;margin-left: 5vw;}
	.links {float:right;margin-top:1.2vw;margin-right:5vw;
		a {display:inline-block;color: #7E9CAD;font-size: 1.5vw;padding: 0 .4vw;text-decoration:none;}
	}
	.dropdown-container {display:inline-block;position:relative;
		.dropdown {position:absolute;overflow:hidden;background:#c4c4c4;
			a {display:block;}
			> a:first-child{margin-top:-50vw;transition:margin-top .5s ease}
		}
	}
	.dropdown-container:hover .dropdown > a:first-child{margin-top:0}
}

/****************
MOBILE NAV
****************/
  nav.mobile-header{display:none;}
  .mobile-nav-practice-areas-menu{display:none}
/*****************
INTERNAL PAGES
*****************/

.titlebar {height:16.406vw;background:#c4c4c4;}
.titlebar .title {font-size: 3.542vw;text-align: center;font-weight: 700;line-height: 16.406vw;}

.main-content-container {margin-left: 5vw;}
.main-content-container.full {width: auto;display: block;margin-top: 4vw;}



/*******************
SIDE NAVIGATION
*******************/

.sidebar{display:inline-block;width:21%;vertical-align:top;margin:3vw 3vw 0 3vw;border:.1vw solid;padding:2% 2%}
.sidebar p.sidebar-title {font-size:2.5vw;}
.sidebar .dropdown {display:none;}
.sidebar a {display:block;transition:color;text-decoration:none;}
.sidebar a:hover {cursor:pointer;color:#613e98;text-decoration:none;}
.viewAll {overflow:hidden;height:auto;transition: height .3s ease;} 
.dropdown-chev {float: left;height: 4.8vw;position: relative;right: 4vw;top: 3vw;}
/**********
FOOTER
***********/

footer{margin-top:2vw;
	.top {height:22.522vw;background:#c4c4c4;}
	.copyright{padding:1.5vw 3vw;font-size:.8vw;background:#183037;color:white;position:relative;
		span{float:right;margin-right:3vw;position:relative;
			img {height:1vw;}
		}
		a{color:white}
		a:hover{color:#961b27}
	}
}
