---
---

/*****************
  MOBILE STYLES
*****************/
@media (max-width:850px) {
  body {padding-top: 21vw;}
  h1{font-size:8vw;}
  h2{font-size: 5.7vw;}
  h3 {font-size:3.8vw;}
  .sidebar {display:none;}
  .main-content-container {display: block;width: 90%;margin:0 auto;}
  .copyright {height: 18vw;font-size: 3.5vw;padding-top: 5vw;}
  .copyright span {float:left;margin-top:3vw;}
  .copyright img {width:16vw;}
	
  nav.desktop-nav{display:none}
  nav.mobile-header{display:block}
  nav.mobile-nav {display:block;}
  header.header-post{display:block}
}
